:root{
    --score-low: #46F093;
    --score-mid-low: #F4DB20;
    --score-mid-high: #F2A415;
    --score-high: #ED4C4C;
}

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-background); 
    color: var(--color-contrast);
    margin-top: 0px;
    padding: 12px 0px;
    z-index: 9999;
    border-bottom: 1px solid var(--color-contrast);

    display: flex;
    align-items: center;
    gap: 80px;
}

.topbar-text {
    padding: 12px 0px;
    font-size: 36px;
    font-weight: bold;
    z-index: 10000;
}

.topbar-selector {
    position: relative;
    z-index: 10000; 
    margin-left: 0;
}

.taipy-watermark {
    display: none
}
.MuiPopover-root, 
.MuiPaper-root {
    z-index: 10002;
}

body {
    padding-top: 90px;
}


/* .content {
    margin-top: 150px;
} */

.card {
    margin: 15px 5px;
    color: var(--taipy);
}

.card-title {
    font-size: 14px;
    opacity: 0.7;
}

.card-amount {
    font-size: 20px;
    font-weight: bold;
    margin-top: 4px;
}

.metric {
    background-color: var(--color-paper);
    margin: 5px 5px;
    padding: var(--element-padding);
    border-radius: var(--border-radius);
    color: var(--taipy);
    text-align: center;
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
}

.recent-transaction {
    margin: 5px 5px;
    padding: var(--element-padding);
    background-color: var(--color-paper);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.score {
    display: inline-block;
    width: 70px;
    height: 30px;
    text-align: center;
    border-radius: var(--border-radius);
    color: #000;
    font-weight: bold;
    margin: 2px;
    margin-left: 0;
}

.score-low {
    background-color: var(--color-success)
}
.score-mid {
    background-color: var(--color-warning)
}

.score-high {
    background-color: var(--color-error)
}

.detector-count {
    margin: 5px 5px;
    padding: var(--element-padding);
    background-color: var(--color-paper);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.item {
    padding: 8px 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--color-contrast);
    margin-bottom: 8px;
}

.text-right {
    text-align: right;
    width: 100%; 
    display: block;
}

.text-right {
    text-align: left;
    width: 100%; 
    display: block;
}

.taipy-expandable .MuiAccordionSummary-content {
    font-weight: 600;
    transition: color var(--transition-duration);
    font-size: 16px;
}

.filter {
    z-index: 5000;
}

.MuiPopper-root.MuiPickersPopper-root {
    z-index: 5001; 
}

.spacer {
    height: 2px;
}

.highlight-rule {
    background-color: #ffcccc;
    font-weight: bold;
}